<h1>Sign-up form</h1>

<form action="/profile" method="POST">
    <label for="userName">User name:</label>
    <input type="text" name="userName" id="userName" placeholder="User name" required>

    <label for="password">User name:</label>
    <input type="password" name="password" id="password" placeholder="*******" minlength="8" required>

    <button>Register</button>

</form>